<div class="container">
  <div class="row justify-content-center">
    <div class="col-md-12">
      <h1>
        {{ title }}!
      </h1>
    </div>
  </div>
  <div class="row justify-content-center">
    <div class="col-md-12">
        <img width="200" alt="Star Wars Quiz logo"
          src="/assets/images/1623e090b4a014ffbdf24dd0a13bc86c.jpg" >
    </div>
  </div>
  <br/><br/>
  <div class="row justify-content-center">
    <div class="col-md-3">
      <button routerLink="/help" class="btn btn-dark btn-lg btn-block">Jogar!</button>
    </div>
  </div>
</div>
