<div class="text-align:center">
  <div class="row">
    <div class="col-md-12">
      <img src="{{picture}}">
    </div>
  </div>
  <div class="row">
    <div class="col-md-6 right">
      <button alt="responder"
        type="button" class="btn btn-primary" 
        (click)="answerQuestion()">
        ?
      </button>
    </div>
    <div class="col-md-6">
      <button alt="dica" 
        type="button" class="btn btn-primary"
        (click)="showDetailModal()">
        ...
      </button>
    </div>
  </div>
</div>
